.venv/
__pycache__/
*.pyc
.DS_Store
*lokiwiki.egg-info*
src/*lokiwiki.egg-info*
.gitignore
*txt
*json
src/lokiwiki.egg-info/PKG-INFO
src/lokiwiki.egg-info/requires.txt
src/lokiwiki.egg-info/SOURCES.txt
src/lokiwiki.egg-info/*
*csv